# Basic Python Assignment 2

# 1. What are the two values of the Boolean data type? How do you write them?

The two values are: True or False 
They can be written using the words "True" and "False" written in title case or by using an integer 1 or 0
Below, I demonstrate both approaches

In [1]:
a= True 
b= False
c = 1 
d = 0

In [2]:
type(a)

bool

In [3]:
bool(c)

True

In [4]:
bool(a)

True

# 2. Boolean Operators 


**and** can also be written using the ampersand --> & : 

<br> 

Evaluates to true if and only if both objects being connected with 'and' have a truth value of True 

<br>

**or** can also be written using a vertical bar as such --> | : 

<br>
Evaluates to true if and only if only one or both objects being connected have a truth value of True 

<br>

**not** can also be written using the excalmation mark --> ! : 
negates the truth value but most often checks to determine if the boolean value of an assignment or condition not True or False

In [5]:
a and b

False

In [6]:
a and c

1

In [7]:
a and d

0

In [8]:
a or d

True

In [9]:
a & b

False

In [10]:
a | d

1

In [11]:
a !=b

True

In [12]:
a == c

True

In [13]:
a == d

False

In [14]:
a != d

True

In [15]:
# you have to use it to check if something is somewhere

l = [1,2,3,4]
a = 5
if a not in l: 
    print(f'{a} is not in this list.')

5 is not in this list.

# 3. Create a truth table for the Boolean Operators

In [16]:
import pandas as pd

In [17]:
data=[['T','T', 'F', 'F', 'T', 'T'],['T', 'F', 'F', 'T', 'F', 'T'],
      ['F', 'F', 'T', 'T', 'F', 'F'],['F', 'T', 'T', 'F', 'F', 'T']]

truth_table=pd.DataFrame(data,columns=['P','Q', 'not P', 'not Q', 'P and Q', 'P or Q'])

truth_table

   P  Q not P not Q P and Q P or Q
0  T  T     F     F       T      T
1  T  F     F     T       F      T
2  F  F     T     T       F      F
3  F  T     T     F       F      T

In summary, the **and** operator is only true when both objects being compared have boolean value of true. The **or** operator is true if either one or both of the objects being compared have a boolean value of true. Finally, **not** simply negates the boolean value.

# 4. What are the values of the following expressions? 

1. (5>4) and (3 == 5) -- F  --- This statement is false since 3 does not equal 5 
2. not(5>4)-- T  --- This statement false because it is true before negation 
3. (5>4) or (3==5)-- T ---- This statement is true because (5>4) is true 
4. not((5>4) or (3==5))- F -- this actually one of DeMorgan's Laws and it is equivalent to not(5>4) and not(3==5), which is false, true, so false 
5. (True and True) and (True == False)-- F -- because the left is always true and the right is always false, true false makes   false in and operator

# 5 What are the six comparison operators? 

1. <  ---------- less than 
2. \> ----------- greater than 
3. == ---------- is equal 
4. != ---------- is not equal 
5. <= --------------- less than or equal to 
6. \>= --------------- greater than or equal to

# 6. What is the difference between the equal to and the assignment operators? Describe a condition and when you would use one. 

1. Assignment ---->  =  <---- just one 'equality' relation symbol. 
2. Is Equal ------>  == <----- two 'equality' relation symbols. 

I will use assignment when intializing a variable. 

I will use equality when searching for a variaiable with a specific value in a column or vector or when testing a condition

# 7. Identify the three blocks in this code:

In [18]:
#Block 1
spam = 0 

if spam ==0: 
    print('eggs')

 #Block 2
if spam > 5: 
    print('bacon')
    
#Block 3     
else:
    print('ham')
    print('spam')
    print('spam')

eggs
ham
spam
spam

# 8. Write code 
Write code that satisfies the following conditions 
1. prints Hello if 1 is stored in spam 
2. prints Howdy if 2 is stored in spam 
3. prints Greetings if not 1 and not 2 are stored in spam

In [19]:
#take some input from the user 

spam = int(input('Please enter a digit integer between 1 and 9 '))




if spam == 1:
    print('Hello')
    
elif spam == 2:
    print('Howdy')

else: 
    print('Greetings!')

Please enter a digit integer between 1 and 9 1
Hello

# 9. If you program is stuck in an endless loop, what keys will you press? 


To exit an infinite loop, you must press: 'Ctrl + C'

# 10. Difference between **break** and **continue** 

Break - the break statements allows the loop to be exited after the condition is met 
<br>
Continue - the continue statement allows to skip a portion of the loop

# 11. In a for loop what is the difference between the following 

range(10) <--------- this only specifies the end point leaving the other parameters as default
<br>
range(0,10) <--------- this specifies the start and the end point leaving the other parameter as default, but in this case the 
                       starting point is the same as the default parameter for starting point
<br>
range(0,10,1) <--------- this specifies the start and the end point and the step-size, but the start point and step-size are                           the same as their defaults

There is not difference in their output.

# 12. Write a short program. 

1. Print 1-10 using a for loop 
2. Print 1-10 using a while loop

In [25]:
i = 0 
for i in range(10) :
    print(i+1)

1
2
3
4
5
6
7
8
9
10

In [24]:
i = 1

while i < 11 :
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10

# 13. Function bacon()

If you had a function named bacon() inside a module named spam, how would you call it after import spam? 

""" import spam """ 

<br>

import spam as spam 

<br>

"""call bacon()""""

<br>

spam.bacon()