#1. In the below elements which of them are values or an expression? 

1. value    'hello'
2. value    -87.8
3. expression  - 
4. expression / 
5. expression + 
6. value 6

#2. What is the difference between a string and a variable? 

A variable is where a string is held or stored. A string is 
made up of characters that take up memory in the holder named 
as a variable.

#3. Describe three different data types 

Given that there is not further clarification I will say
that there are three data types in Python such as 
integers, floats or boolean 

There are also data types such as numeric, objects, or categorical 
in data frames 

Finally, with respect to data there is quantitative, qualitative/categorical 
and also datas and in these we also have continuous/discrete for quantitative and ordinal/nominal for qualitative

#4 What is an expression made up of? What do expressions do?

Expressions are created by combining values or variables with arithmetic operators that perform binary or unary 
operations on variables and also the expression could be created using logical operators to create conditional statments

#5. This assignment statements, like spam =10. What is the difference between an expression and a statement? 

An expression requires some sort of operator, binary or unary and also arithmetic or logcial operator. A statement (excluding conditional statements) does not require any sort of operation or evaluation. A statement is simply a way to assign a variable or to create some object to use in an expression.

#6. After running this code, what does the variable bacon contain? 

bacon = 22 

bacon + 1 

**************************

The value of bacon has not been reassigned, therefore, is remains 22.

#7. What should the values of the following two terms be? 

'spam' + 'spamspam'
'spam'*3 

In both cases, the result will be 

'spamspamspam'

#8. Why is egg and a valid variable name while 100 is invalid?

Pursuant to the rules of Python varaibles (and their names) it is not possible to name a variable unless the first character is a letter or an underscore. 100 
does not start with a letter or an underscore and therefore cannot be used.

#9 What three functions can be used to get the integer, float or version of a value? 


1. int() 
2. float() 
3. str()

#10 Why does this expression cause an error? How can you fix it? 

'I have eaten' + 99 + 'burritos.'

 This error occurs because there are two strings and the code attempts to 
 concatenate them with an integer. The solution would be to remove the concatenation and simply write a complete string as 

 'I have eaten 99 burritos.'
 
 Alternatively, if you are interested in making life more complicated for no reason, you can caste the 99 as a string and then perform the concatenation as such: 

 'I have eaten' + str(99) + 'burritos.' 


 or 

 'I have eaten + '99' + 'burritos.' (but this will not be very good) 

 so include some spaces 

 'I have eaten' + " " + str(99) + " " +  'burritos'


 or 

 _99 = str(99) 

 'I have eaten'+ " " + _99 + " " + 'burritos.'